.small
  font-size: $font-size_small

.active
  font-weight: 500


#content, header
  .icon
    margin-right: 5px
    display: inline-block
    svg
      width: auto

header
  .icon
    fill: white
    margin-right: 10px
#content
  .icon
    fill: $dark-blue

#content
  img
    width: 110%
    display: block
    max-width: fit-content
    margin-left: auto
    margin-right: auto

.published-date, .reading-time
  display: inline-block
  margin-bottom: 20px
  margin-top: 0px

.reading-time
  margin-right: 20px

.img-caption
  margin-bottom: $margin-blocks/6 !important

  .rounded-img
    +rounded

  .tags
    margin-bottom: $margin-blocks/3

.read-more
  margin-top: -$margin-blocks/3
  text-align: right
  display: block

.chroma, .highlight
  max-width: 100%

  pre
    padding: 5px
    white-space: pre-wrap
    word-break: break-word

th, td
  padding: 10px
  text-align: left


.card-container
  .date-container
    font-size: 1.5em
    background-color: #06324D
    color: white
    padding: 20px
    text-align: center
    grid-area: date
    display: flex
    justify-content: center
    align-items: center

  margin: 10px 0px 10px 0px
  display: grid
  grid-template-areas: 'date info'
  grid-template-columns: 150px 1fr
  background-color: #ffffff
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  line-height: 1.75em

  .info-container
    padding: 20px
    grid-area: info

  .event-name
    font-weight: bold
    padding-bottom: 5px

  .event-location, .day
    font-weight: 300

  .month
    font-weight: 600

.post-image-container
  display: grid
  grid-template-areas: 'image info'
  grid-template-columns: fit-content(30%) 1fr

  +smartphone
    grid-template-columns: 1fr

.post-image img
  width: 100% !important
  height: auto !important

  +smartphone
    display: none

.post-image-container
  .post-image
    grid-area: image

    +smartphone
      display: none

  .post-info
    grid-area: info
    padding-left: 10px

    +smartphone
      padding: 0px

.tags
  display: inline-block
  margin-bottom: 20px
  margin-left: 20px

.home-container
  display: flex
  justify-content: space-between

  +smartphone
    flex-direction: column

  .home-post
    max-width: 50%
    padding: 0.6em

    +smartphone
      max-width: 100%

+lowheight
  .only-long-devices
    display: none
