.small
  font-size: $font-size_small

.active
  font-weight: 500


#content, header
  .icon
    margin-right: 5px
    display: inline-block
    svg
      width: auto

header
  .icon
    fill: white
    margin-right: 10px
#content
  .icon
    fill: $dark-blue

#content
  img
    width: 110%
    display: block
    max-width: fit-content
    margin-left: auto
    margin-right: auto

.published-date, .reading-time
  display: inline-block
  margin-bottom: 20px
  margin-top: 0px

.reading-time
  margin-right: 20px

.img-caption
  margin-bottom: $margin-blocks/6 !important

  .rounded-img
    +rounded

  .tags
    margin-bottom: $margin-blocks/3

.read-more
  margin-top: -$margin-blocks/3
  text-align: right
  display: block

.chroma, .highlight
  max-width: 100%

  pre
    padding: 5px
    white-space: pre-wrap
    word-break: break-word

th, td
  padding: 10px
  text-align: left
