{{ partial "header" .}}

{{ .Content }}

<a href="/blog/"><h3>My latest blog posts</h3></a>
<p>Read about my latest findings below. <a href="/blog/">List entire blog.</a></p>
{{ partial "partials/home-container.html" . }}

{{ $speaking := where .Site.RegularPages "Section" "speaking" }}

{{ $speakingFuture := where $speaking "Date" "ge" now }}
{{ with $speakingFuture }}
  <a href="/speaking/"><h3>{{ ":speaking_head:" | emojify }} Upcoming public speaking</h3></a>
  {{ range $speakingFuture }}
    {{ .Render "li" }}
  {{ end }}
{{ end }}

<a href="/speaking/"><h3>{{ ":speaking_head:" | emojify }} Recent public speaking</h3></a>
{{ $speakingPast := where $speaking "Date" "lt" now }}
{{ $speakingRecentYear := (index ($speakingPast.GroupByDate "2006") 0).Pages | first 3 }}
<p>Recent events where I spoke or which I organized. <a href="/speaking/">View more.</a></p>
{{ range $speakingRecentYear }}
  {{ .Render "li" }}
{{ end }}

{{ partial "footer" .}}
