.card-container .date-container {
    font-size: 1.5em;
    background-color: #06324D;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: date;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-areas: 'date info';
    grid-template-columns: 150px 1fr;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    line-height: 1.75em;
}

.card-container .info-container {
    padding: 20px;
    grid-area: info;
}

.card-container .event-name {
    font-weight: bold;
    padding-bottom: 5px;
}

.card-container .event-location {
    font-weight: 300;
}

.card-container .day {
    font-weight: 300;
}

.card-container .month {
    font-weight: 600;
}

.post-image-container {
    display: grid;
    grid-template-areas: 'image info';
    grid-template-columns: fit-content(30%) 1fr;
}

.post-image img {
    width: 100% !important;
    height: auto !important;
}

.post-image-container .post-image {
    grid-area: image;
}

.post-image-container .post-info {
    grid-area: info;
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    .post-image img {
        display: none;
    }

    .post-image-container .post-image {
        display: none;
    }

    .post-image-container {
        grid-template-areas: 'image' 'info';
        grid-template-columns: 1fr;
    }

    .post-image-container .post-info {
        grid-area: info;
        padding: 0px;
    }
}

.tags {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
}

.home-container {
    display: flex;
    justify-content: space-between;
}

.home-container .home-post {
    max-width: 50%;
    padding: 0.6em;
}

@media only screen and (max-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    .home-container .home-post {
        max-width: 100%;
    }
}

@media only screen and (max-height: 800px) {
    .only-long-devices {
        display: none;
    }
}